.page {
  width: 90%;
  margin: 0 auto;
  color: var(--color-text);
}

.page > h2 {
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin: 1em 0;
}

.input {
  background-color: inherit;
  border-radius: 15px;
  border: 2px solid var(--color-message-user);
  display: flex;
  align-items: center;
  padding: 0.8em;
  gap: 1em;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  color: inherit;
}

.active {
  background-color: #91ec8c;
  border: 2px solid #549251;
  color: var(--color-black);
}

.input > svg,
.text > svg,
.card > svg {
  width: 40px;
  height: 40px;
  color: var(--color-primary);
}

.card {
  background-color: var(--color-primary-lighter);
  padding: 1em 1.5em;
  border-radius: 15px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.cardTxt {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.cardTxt > h3 {
  font-size: 1.3rem;
}

.cardTxt > a {
  text-decoration: none;
  color: var(--color-primary);
}
